# OSX
.DS_Store

# Python
__pycache__/
*.pyc
*.artifactdetection.egg-info
artifactdetection.egg-info/
artifactdetection/devtorch.egg-info/
ArtifactDetection.egg-info/
dist

# Jupyter Notebook
.ipynb_checkpoints